body {
    background-color: #1B1B1B;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    color: #878787;
    gap: 62px;



}

.retangulo {
    display: flex;
    height: 50px;
    width: 604px;
    background-color: #131313;
    border-radius: 50px;

}

.lupa {

    display: flex;
    align-items: center;
    margin-left: 25px;

}

p {

    display: flex;
    align-items: center;
    margin-left: 10px;

}

.icones {
    display: flex;
    align-items: center;
    position: absolute;
    right: 70px;
}


/*-------------------MAIN------------------------------------*/


main {
    display: flex;
    justify-content: space-between;
    color: white;

}

.venda {
    display: flex;
    flex-direction: column;
    margin-left: 72px;
}

h1 {
    margin-top: 148px;
    font-size: 62px;


}

.vermelho {
    display: flex;
    flex-direction: column;
    z-index: -999;
    height: 16px;
    width: 447px;
    margin-top: -19px;
    background-color: #e80000;

}



.estrelas {
    margin-top: 13px;
    display: flex;
    top: -13px;
    color: #828282;
}

.text1 {
    display: flex;
    margin-top: 39px;
    color: #ffffff;
    width: 660px;
    max-width: 500px;
}

h2 {
    color: #e80000;
    display: flex;
    margin-top: 24px;
    font-size: 62px;
}

h3 {
    color: #ffffff;
    display: flex;
    top: 52px;
    font-size: 31px;
    text-decoration: line-through;
}

.buy {
    margin-top: 39px;

    display: flex;
}

.comprar {
    display: flex;
    height: 57px;
    width: 262px;
    background-color: #ff0000;
}

.carrinho img {
    display: flex;
    height: 26px;
    width: 27px;
    margin-left: 27px;
}

.carrinho {
    display: flex;
    align-items: center;
}

.jetzt {
    display: flex;
    font-size: 19px;
    align-items: center;
    margin-left: 7px;

}

.selecionador {
    display: flex;
    font-size: 19px;
    color: #e80000;
    background-color: #000000;
    border: 5px solid rgb(255, 0, 0);
    width: 99px;
    height: 57px;
    align-items: center;
    justify-content: center;
    margin-left: 8px;

}

.coracao {
    display: flex;
    margin-top: 13px;


}

.linha {
    display: flex;
    flex-direction: column;
    height: 2px;
    width: 160px;
    margin-top: 3px;
    background-color: #ffffff;
}

.lista {
    margin-top: 53px;
    flex-direction: column;
}

.lista p {
    margin-top: 24px;

}

.destaque {
    display: flex;
    height: 6px;
    width: 105px;
    background-color: #e80000;
    position: relative;
    top: -193px;

}

.headset {
    display: flex;

}

.headset img {
    height: 881px;
    width: auto;
}

.imagens {

    display: flex;
    justify-content: center;
    align-items: center;
}

.imagens img {
    width: 120px;
    height: 390px;
    margin-right: 70px;

}



.background {
    display: flex;
    position: absolute;
    right: 0;
    z-index: -999;
}

.seta {
    color: #828282;
    font-size: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 70px;


}